@media (max-width: 1000px) {
  select {
    top: var(--spacing-small);
  }

  .modal.credit {
    padding: 1rem;
    max-width: inherit;
    width: 95%;
  }
}

@media (max-width: 870px) {
  section.track-playback {
    .featured-track-wrapper {
      .featured-track-container {
        .release-tracklist {
          display: none;
        }
      }
    }
  }

  main.homepage {
    nav {
      .nav-content {
        padding: var(--spacing-large) var(--spacing-large);
        padding-right: calc(var(--spacing-large) + var(--default-scroll-size));
      
        .band-picture {
          height: auto;
          width: 100%;
        }
      }
    }

    section {
      grid-template-columns: repeat(2, calc(50% - .5rem));
    }
  }

  main.homepage section,
  main.homepage figure {
    padding: 0 var(--spacing-large);
    padding-right: calc(var(--spacing-large) + var(--default-scroll-size));
  }

  .modal.modal-artist,
  .modal.past-members-modal {
    max-width: inherit;
    width: calc(100% - var(--spacing));
  }
}

@media (max-width: 512px) {
  .home {
    left: var(--spacing-small);
    top: var(--spacing-small);
  }

  main.homepage {
    nav {
      .nav-content {
        padding: var(--spacing-large) var(--spacing);
        padding-right: calc(var(--spacing) + var(--default-scroll-size));

        h1 {
          font-size: 2.4rem;
        }

        h2 {
          font-size: 1.8rem;
        }

        .links {
          align-items: center;
          flex-direction: column;
      
          a {
            margin: 1rem 0;
            justify-content: center;
            width: 85%;
            
            img {
              margin-left: 0;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    section {
      /* Only one child element */
      &:has(> :last-child:nth-child(1)),
      &:has(> :last-child:nth-child(2)) {
        grid-template-columns: inherit;
        max-width: inherit;
      }

      grid-template-columns: 100%;
      padding: 0 var(--spacing);
      padding-right: calc(var(--spacing) + var(--default-scroll-size));

      div.past-members {
        aspect-ratio: inherit;
        margin-top: var(--spacing);
      }
    }

    p.musicians-description,
    p.works-description {
      padding: 0 var(--spacing);
      padding-right: calc(var(--spacing) + var(--default-scroll-size));
      margin-bottom: var(--spacing-large);
    }

    section.artists {
      grid-gap: var(--spacing);
      grid-template-columns: repeat(2, 50%);
      margin-bottom: var(--spacing-large);

      div {
        grid-template-columns: 33% 66%;        
      }
    }

    section.events .two-col {
      grid-template-columns: repeat(2, 50%);

      p {
        font-size: 1.2rem;
        
        h4 {
          margin-bottom: var(--spacing);
        }

        a {
          font-size: 1.2rem;
        }

      }

      img {
        width: 80%;
      }
    }

    section.works {
      div {
        grid-template-columns: 50% 50%;

        & > p:first-child {
          grid-column: 1 / span 2;
          justify-self: center;
          margin: 0;
        }

        &.header > p:first-child {
          display: none;
        }

        p {
          font-size: 1.2rem;
          text-align: center;
        }

        &:last-of-type {
          margin-bottom: var(--spacing-large);
        }
      }
    }

    section.link-wrapper {
      margin-bottom: var(--spacing-large);
    }

    figure {
      grid-template-columns: 100%;
      padding: 0 var(--spacing);
      padding-right: calc(var(--spacing) + var(--default-scroll-size));

      iframe {
        grid-column: 1;
      }
    }
  }

  .modal.modal-artist,
  .modal.past-members-modal {
    max-height: calc(100% - var(--spacing));
  }

  .modal.past-members-modal {
    .past-member {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-height: 740px) {
  /* Typically for screen with zoom factor */
  main.home {
    display: inherit;
    overflow-y: auto;

    img {
      max-width: 25rem;
    }

    h2 {
      margin-bottom: 2%;
      max-width: inherit;
    }
  }

}

@media (max-height: 512px) {
  main.home img {
    margin: 2% 0;
    max-width: 25rem;
  }
}
